* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right top, rgba(77, 148, 67, 0.5), rgba(134, 158, 70, 0.5));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;          
    font-family: sans-serif;
}

h1 {
    color: rgba(80, 171, 67, 0.6);
    text-shadow: 0 0 15px rgba(175, 206, 89, 0.8);
}

table {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 2px;
    border-spacing: 15px;
}

td {
    background-color: rgba(80, 171, 67, 0.6);
    border-radius: 15px;
    padding: 2px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    transition: 0.5s;
}

td:hover {
    background-color: rgba(175, 206, 89, 0.8);
    box-shadow: 0 0 15px rgba(175, 206, 89, 0.8);
    transform: scale(1.1);
    opacity: 0.5;
    cursor: pointer;
}

button {
    border: 0;
    outline: 0;
    background-color: rgba(80, 171, 67, 0.6);    
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

button:hover {
    background-color: rgba(175, 206, 89, 0.8);
    box-shadow: 0 0 15px rgba(175, 206, 89, 0.8);
    transform: scale(1.1);
    cursor: pointer;
    letter-spacing: 2px;
}